<span class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="main_component">
    <div class="div-flex">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label>E-mail:</mat-label>
                <input matInput id="email" type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Jelszó:</mat-label>
                <input matInput id="password" type="password" formControlName="password">
            </mat-form-field>
            <div>
                <span class="buttons"><button mat-raised-button color="primary" type="submit">Bejelentkezés</button></span>
                <span class="buttons"><button mat-raised-button [routerLink]="'/signup'">Regisztráció</button></span>
            </div>
        </form>
    </div>
</div>
