<div class="container">
    <h1>Keresés</h1>
    <hr>
    <div class="div-flex">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <mat-form-field>
                <mat-label>Honnan</mat-label>
                <mat-select formControlName="fromStation">
                    <mat-option *ngFor="let fromStation of stations" [value]="fromStation.id">{{ fromStation.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hova</mat-label>
                <mat-select formControlName="toStation">
                    <mat-option *ngFor="let toStation of stations" [value]="toStation.id">{{ toStation.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mikor</mat-label>
                <input matInput type="date" formControlName="searchDate">
            </mat-form-field>
            <span class="buttons"><button mat-raised-button color="primary" type="submit">Keresés</button></span>
        </form>
    </div>
    <hr>
</div>

